a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.abstract-logo-footer {
    width: 138px;
    margin-bottom: 20px;
    transform: translateX(30%);
}

@media not all and (min-width: 640px) {
    .option-responsive{
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        font-size: 17px;
    }

    .Responsive{
        flex-direction: column ;
    }
}